
<mat-toolbar>
<h3>List Of Recipes</h3>
</mat-toolbar>


  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="" alt="movie1" width="300" height="200">
      </a>
      <div class="desc">
        Name:
        Desc:
        Rating:
      </div>
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="" alt="movie2" width="600" height="400">
      </a>
      <div class="desc">
          Name:
          Desc:
          Rating:
      </div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="" alt="movie3" width="600" height="400">
      </a>
      <div class="desc">
          Name:
          Desc:
          Rating:
      </div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="" alt="movie4" width="600" height="400">
      </a>
      <div class="desc">
          Name:
          Desc:
          Rating:
      </div>
    </div>
  </div>
  <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="">
          <img src="" alt="movie5" width="300" height="200">
        </a>
        <div class="desc">
          Name:
          Desc:
          Rating:
        </div>
      </div>
    </div>
    
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="">
          <img src="" alt="movie6" width="600" height="400">
        </a>
        <div class="desc">
            Name:
            Desc:
            Rating:
        </div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="">
          <img src="" alt="movie7" width="600" height="400">
        </a>
        <div class="desc">
            Name:
            Desc:
            Rating:
        </div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="">
          <img src="" alt="movie8" width="600" height="400">
        </a>
        <div class="desc">
            Name:
            Desc:
            Rating:


            <!-- CIARA this is to filter 
               <tr *ngFor='let product of products'></tr> 
            -->
        </div>
      </div>
    </div>
  
  
  
