  
  
  .example-full-width {
    width: 100%;
  }

 .example-form {
  min-width: 150px;
  max-width: 1000px;
  width: 100%;
}

.recipeheader {
  font-size: 0.7em;
}

.example-card {
  width: 250px;
  height: 450px;
}

#cardrow1, #cardrow2, #cardrow3, #cardrow4 {

  display:flex;
}
