  .example-full-width {
    width: 100%;
  }

 

.recipeheader {
  font-size: 0.7em;
}

.example-card {
  width: 250px;
  height: 450px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  
}
#cardrow1, #cardrow2, #cardrow3, #cardrow4 {

  display:flex;
}
