

<mat-card>
 <form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="What are you in the mood for?" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<div id="FilterBy">
  <h4>Filtered by : {{listFilter}}</h4>
</div> 

<mat-toolbar>
  <p class="recipeheader">List Of Movies Available</p>
  </mat-toolbar>

  <div id="cardrow1">
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTIzMDQyNDgwNl5BMl5BanBnXkFtZTcwMDA0MTc3MQ@@._V1_UX182_CR0,0,182,268_AL_.jpg" alt="Photo of a Shiba Inu">
     
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BZWRlNDdkNzItMzhlZC00YTdmLWIwNjktYjY5NjQ1ZmQ3N2FkXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UY268_CR9,0,182,268_AL_.jpg" alt="Photo of a Shiba Inu">
    
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BNDA4Nzc1OTg2OV5BMl5BanBnXkFtZTgwODE3ODgwNDI@._V1_UY209_CR0,0,140,209_AL_.jpg" alt="Photo of a Shiba Inu">
      
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BMzUxNzkzMzQtYjIxZC00NzU0LThkYTQtZjNhNTljMTA1MDA1L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg">
      
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div id="cardrow2">
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTIzMDQyNDgwNl5BMl5BanBnXkFtZTcwMDA0MTc3MQ@@._V1_UX182_CR0,0,182,268_AL_.jpg" alt="Photo of a Shiba Inu">
     
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BZWRlNDdkNzItMzhlZC00YTdmLWIwNjktYjY5NjQ1ZmQ3N2FkXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UY268_CR9,0,182,268_AL_.jpg" alt="Photo of a Shiba Inu">
    
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BNDA4Nzc1OTg2OV5BMl5BanBnXkFtZTgwODE3ODgwNDI@._V1_UY209_CR0,0,140,209_AL_.jpg" alt="Photo of a Shiba Inu">
      
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BMzUxNzkzMzQtYjIxZC00NzU0LThkYTQtZjNhNTljMTA1MDA1L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg">
      
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div id="cardrow3">
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTIzMDQyNDgwNl5BMl5BanBnXkFtZTcwMDA0MTc3MQ@@._V1_UX182_CR0,0,182,268_AL_.jpg" alt="Photo of a Shiba Inu">
     
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BZWRlNDdkNzItMzhlZC00YTdmLWIwNjktYjY5NjQ1ZmQ3N2FkXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UY268_CR9,0,182,268_AL_.jpg" alt="Photo of a Shiba Inu">
    
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BNDA4Nzc1OTg2OV5BMl5BanBnXkFtZTgwODE3ODgwNDI@._V1_UY209_CR0,0,140,209_AL_.jpg" alt="Photo of a Shiba Inu">
      
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BMzUxNzkzMzQtYjIxZC00NzU0LThkYTQtZjNhNTljMTA1MDA1L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg">
      
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div id="cardrow4">
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTIzMDQyNDgwNl5BMl5BanBnXkFtZTcwMDA0MTc3MQ@@._V1_UX182_CR0,0,182,268_AL_.jpg" alt="Photo of a Shiba Inu">
     
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BZWRlNDdkNzItMzhlZC00YTdmLWIwNjktYjY5NjQ1ZmQ3N2FkXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UY268_CR9,0,182,268_AL_.jpg" alt="Photo of a Shiba Inu">
    
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BNDA4Nzc1OTg2OV5BMl5BanBnXkFtZTgwODE3ODgwNDI@._V1_UY209_CR0,0,140,209_AL_.jpg" alt="Photo of a Shiba Inu">
      
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/M/MV5BMzUxNzkzMzQtYjIxZC00NzU0LThkYTQtZjNhNTljMTA1MDA1L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg">
      
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </mat-card>



