<mat-card>
 <div class="example-full-width">
   <input type='text' placeholder="Search For a Movie..."[(ngModel)]='listFilter' />
 </div >
<div id="FilterBy">
  <h4>Filtered by : {{listFilter}}</h4>
</div> 

<mat-toolbar>
  <p class="recipeheader">List Of Movies Available</p>
  </mat-toolbar>
  
<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="">
      <img src="" alt="movie1" width="300" height="200">
    </a>
    <div class="desc">
      <p> Name:</p>
      <p> Desc: </p>
     <p> Rating: </p>
    </div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="">
      <img src="" alt="movie2" width="600" height="400">
    </a>
    <div class="desc">
      <p> Name:</p>
      <p> Desc: </p>
     <p> Rating: </p>
    </div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="">
      <img src="" alt="movie3" width="600" height="400">
    </a>
    <div class="desc">
      <p> Name:</p>
          <p> Desc: </p>
         <p> Rating: </p>
    </div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="">
      <img src="" alt="movie4" width="600" height="400">
    </a>
    <div class="desc">
      <p> Name:</p>
      <p> Desc: </p>
     <p> Rating: </p>
    </div>
  </div>
</div>
<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="" alt="movie5" width="300" height="200">
      </a>
      <div class="desc">
        <p> Name:</p>
          <p> Desc: </p>
         <p> Rating: </p>
      </div>
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="" alt="movie6" width="600" height="400">
      </a>
      <div class="desc">
        <p> Name:</p>
          <p> Desc: </p>
         <p> Rating: </p>
      </div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="" alt="movie7" width="600" height="400">
      </a>
      <div class="desc">
        <p> Name:</p>
        <p> Desc: </p>
       <p> Rating: </p>
      </div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="" alt="movie8" width="600" height="400">
      </a>
      <div class="desc">
         <p> Name:</p>
          <p> Desc: </p>
         <p> Rating: </p>
      </div>
    </div>
  </div>




